@model IEnumerable<TestBooster24GroupApp.Core.Models.TestBoosetr24Group>
@{
    ViewBag.Title = "Index";
}
<div class="page-title">
    <div class="title_left">
        <h3>Test Boosetr 24 Group</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="testboosetr24groups" class="data table table-striped no-margin">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Group Name</th>
                            <th>Group Owner</th>
                            <th>Creation Date</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Doctor</th>
                            <th>Status</th>
                            <th></th>
                            <th><a href="@Url.Action("RegisterGroup","Account")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Token</td>
                        <td>@item.Name</td>
                        <td>@item.GroupOwnerId</td>
                        <td>@item.CreationDate.ToString("MMM")-@item.CreationDate.ToString("d ")-@item.CreationDate.ToString("yyyy")</td>
                        <td>@item.Address</td>
                        <td>@item.CityId</td>
                        <td>@item.Doctor</td>

                        <td>
                            @{

                                if (item.TestStatus == 0)
                                {
                                    <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>NotKnown</a>
                                }
                                else if (item.TestStatus == 1)
                                {
                                    <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Positive</a>
                                }
                                else if (item.TestStatus == 2)
                                {
                                    <a href="#" style="padding: 3px 10px 3px 10px; background-color:greenyellow" class="badge" readonly>Negative</a>
                                }
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Details","TestBoosetr24Group", new { id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-folder"></i>Details</a>
                        </td>
                    </tr>
                }

                </table>
            </div>
        </div>
    </div>


</div>

@*@section scripts{
    <script>
        $(document).ready(function () {
            $("#testboosetr24groups").DataTable();
        });
    </script>
}*@